
body{
    text-align: center;
}
h1,h2{
    color: red;
}
img{
    border-radius: 50%;
}
ul{
    text-align: left;
    width: 100px;
    margin: auto;
    background-color: #fffcbd;
    list-style-image: url(./img/Snipaste_2023-05-25_11-00-59.png);
}
